<style>
   .table td{
    border: 1px solid black;
   }
   .table th{
    border: 1px solid black;
   }
</style>




<div class="mt-2 ml-3">
  <div style="height: 150px; background-color: blueviolet; color: white;text-align: center; font-weight: bolder;">
    <h1 >Kolkata FF Fatafat Today Result 🏆 Sabse Pahle ✔️</h1>
    <div style="padding-top: 25px;">Kolkata FF Fatafat Today Result ✔ Sabse Pahle Yaha Par Milta Hai ♛ Live कोलकाता Fatafat Chart Dekho ♤♦♣ Patti Aur Single Ke Sath.</div>
  </div>
  <div style="background-color: rgb(247, 124, 43);color: white;text-align: center; font-size: xxx-large;">
    <h4>Lucky Number FF Chart  Kya Result Aayega</h4>
  </div>
  <div style="text-align: center; font-weight: bold; color: white">
    <h1>Kolkata FF Today Result Sabse Pahle Dekho 12/05/21 </h1><br>
    <div style="text-align: center; color: red; padding-top: 30px;">*No Fake Result* | हम #Fake Result Update नहीं करते</div>

  </div>
  <!-- <div>
    <div class="text-white" fxLayout="row">
      <div fxFlex="10"></div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table"></div>
    </div>
    <div class="text-white" fxLayout="row">
      <div fxFlex="10" class="table"></div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table"></div>
    </div>
  </div> -->
  <div class="ml-3">
    <table class="table ">
      <thead style="text-align: center; color: white; font-size: xx-large; font-weight: bold; background-color: rgb(247, 124, 43); height: 100px;">
        <tr>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
        </tr>
      </thead>
      <tbody style="text-align: center; font-size: xx-large;font-weight: bolder; ">
        <tr>
          <td scope="row">*** <div class="mt-3">*</div></td>
          <td>*** <div  class="mt-3">*</div></td>
          <td>*** <div  class="mt-3">*</div></td>
          <td>*** <div  class="mt-3">*</div></td>
          <td>***<div  class="mt-3">*</div></td>
          <td>***<div class="mt-3">*</div></td>
          <td>***<div class="mt-3">*</div></td>
          <td>***<div class="mt-3">*</div></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div style="text-align: center;">14/05/2021</div>

  <div class="ml-3">
    <table class="table ">
      <thead style="text-align: center; color: white; font-size: xx-large; font-weight: bold; background-color: rgb(247, 124, 43); height: 100px;">
        <tr>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
        </tr>
      </thead>
      <tbody style="text-align: center; font-size: xx-large;font-weight: bolder; ">
        <tr>
          <td scope="row">522 <div class="mt-3">7</div></td>
          <td>225 <div  class="mt-3">7</div></td>
          <td>522 <div  class="mt-3">7</div></td>
          <td>225 <div  class="mt-3">7</div></td>
          <td>522<div  class="mt-3">7</div></td>
          <td>225<div class="mt-3">7</div></td>
          <td>522<div class="mt-3">7</div></td>
          <td>225<div class="mt-3">7</div></td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
