<style>
   .table{

   }
</style>




<div class="mt-2 ml-3">
  <div style="height: 150px; background-color: blueviolet; color: white;text-align: center;">
    <h3 >Kolkata FF Fatafat Today Result 🏆 Sabse Pahle ✔️</h3>
    <div style="padding-top: 25px;">Kolkata FF Fatafat Today Result ✔ Sabse Pahle Yaha Par Milta Hai ♛ Live कोलकाता Fatafat Chart Dekho ♤♦♣ Patti Aur Single Ke Sath.</div>
  </div>
  <div style="background-color: rgb(247, 124, 43);color: white;text-align: center;">
    <h1>Lucky Number FF Chart  Kya Result Aayega</h1>
  </div>
  <div style="text-align: center; font-weight: bold; color: white">
    <h1>Kolkata FF Today Result Sabse Pahle Dekho 12/05/21 </h1><br>
    <div style="text-align: center; color: red; padding-top: 30px;">*No Fake Result* | हम #Fake Result Update नहीं करते</div>

  </div>
  <!-- <div>
    <div class="text-white" fxLayout="row">
      <div fxFlex="10"></div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table"></div>
    </div>
    <div class="text-white" fxLayout="row">
      <div fxFlex="10" class="table"></div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table">df</div>
      <div fxFlex="10" class="table"></div>
    </div>
  </div> -->
  <div class="ml-3">
    <table class="table table-bordered">
      <thead style="text-align: center; color: white; font-size: xx-large; font-weight: bold; background-color: rgb(247, 124, 43); height: 100px;">
        <tr>
          <th scope="col">1</th>
          <th scope="col">2</th>
          <th scope="col">3</th>
          <th scope="col">4</th>
          <th scope="col">5</th>
          <th scope="col">6</th>
          <th scope="col">7</th>
          <th scope="col">8</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>
  </div>



</div>
