<div class="navbar">
  <!--For Public-->
  <mat-toolbar color="secondary" [ngStyle]="myStyle()" *ngIf="!isAuthenticated">
    <!-- for desktop view -->
    <mat-nav-list class="list-horizontal" *ngIf="!deviceXs">

      <mat-list-item>
        <button mat-button
                [routerLink]="['/']"
                routerLinkActive="MyActiveMenu"
                [routerLinkActiveOptions]="{exact: true}">Home</button>
      </mat-list-item>


      <mat-list-item>
        <button mat-button mat-raised-button
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu">Login</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </mat-list-item>
    </mat-nav-list>
    <!-- for mobile view -->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['/']" routerLinkActive="MyActiveMenu" [routerLinkActiveOptions]="{exact: true}" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <!-- <button mat-button
         [routerLink]="['/']"
         routerLinkActive="MyActiveMenu"
         [routerLinkActiveOptions]="{exact: true}">Home</button> -->
         <!-- <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button> -->
         <button mat-button mat-raised-button
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu"  style="font-size: small; line-height: 18px !important;">Login</button>
       </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>


  <!--For admin-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isAdmin">
    <!--    for desktop view-->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
        <button mat-button >
          <i class="bi bi-gem" style="font-size: 25px;"></i>
          <span class="logo">Admin</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['admin']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
        </div>
      </div>
      <div fxLayout="row">
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
    <!--    for mobile view-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Admin</span>

      <mat-menu #menu="matMenu" style="width: 20px !important;">
        <button mat-menu-item [routerLink]="['admin']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <!--  header for admin is completed-->


  <!--For Developer-->
  <mat-toolbar style="background-color: #7E7E7E;" *ngIf="isAuthenticated && isDeveloper">
    <!-- for desktop view -->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
          <button mat-button style="background-color: rgba(255,215,0,0.05)">
            <i class="bi bi-gear-wide-connected" style="font-size: 25px;"></i>
            <span class="logo">Developer</span>
          </button>
          <div *ngIf="!deviceXs">
            <button mat-button
                    [routerLink]="['developer']"
                    routerLinkActive="MyActiveMenu"
                    [routerLinkActiveOptions]="{exact: true}">Home</button>

          </div>
      </div>
      <div>

          <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
    <!-- for mobile view -->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Developer</span>
       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['developer']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
       </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>

  <!--For Stockist-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isStockist">
    <!-- for dektop view -->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
        <button mat-button >
          <mat-icon>home</mat-icon>
          <span class="logo">Stockist</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['/']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
        </div>
      </div>

      <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>

    </mat-toolbar-row>
    <!-- for mobile view -->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>
      <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;">Stockist</span>

       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['stockist']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
       </mat-menu>
    </mat-toolbar-row>

  </mat-toolbar>





  <!--For Terminal-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isTerminal">
<!--    for desktop view-->
    <mat-toolbar-row fxLayoutAlign="space-between center" *ngIf="!deviceXs">
      <div fxLayout="row">
        <button mat-button >
          <mat-icon>home</mat-icon>
          <span class="logo">Terminal</span>
        </button>
        <div *ngIf="!deviceXs">
          <button mat-button
                  [routerLink]="['terminal']"
                  routerLinkActive="MyActiveMenu"
                  [routerLinkActiveOptions]="{exact: true}">Home</button>
        </div>
      </div>
      <div fxLayout="row">
          <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout<i class="ri-logout-circle-r-line ri-2x"></i></button>
      </div>
    </mat-toolbar-row>
<!--    for mobile view-->
    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button [matMenuTriggerFor]="menu" style="line-height: 18px !important; font-size: small; padding-top: 15px;"><i class="ri-menu-line"></i>Menu</button>


        <span class="logo" style="padding-right: 120px; font-size: small; line-height: 18px !important;"><i class="ri-smartphone-line"></i>Terminal</span>

       <mat-menu #menu="matMenu" style="width: 20px !important;">
         <button mat-menu-item [routerLink]="['terminal']" routerLinkActive="MyActiveMenu" style="height: 28px ; font-size: small; line-height: 18px !important;" >Home</button>
         <button mat-button *ngIf="isAuthenticated" (click)="logout()" style="font-size: small; line-height: 18px !important;">Logout<i class="ri-logout-circle-r-line ri-1x"></i></button>
       </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
<!--  header for terminal is completed-->
</div>
