
<div class="d-flex align-items flex-column bd-highlight mb-3" class="scroll">
  <div class="p-2 bd-highlight" style="background-color: transparent; width: 100vw;">
    <app-header [deviceXs]="deviceXs"></app-header>
  </div>
  <div class="bd-highlight" style="min-height: 50px; margin-top: 30px;  background-repeat: no-repeat;">
    <router-outlet></router-outlet>
  </div>
  
<!--  <div class="mt-auto p-2 bd-highlight" style="background-color: #34503700; width: 100vw;">-->
<!--    <ng-marquee>-->
<!--      <div style="color: white;">Let's play</div>-->
<!--    </ng-marquee>-->
<!--  </div>-->
</div>
