
<div class="d-flex align-items-end flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight" style="background-color: transparent; width: 100vw;">
    <app-header [deviceXs]="deviceXs"></app-header>
  </div>
  <div class="p-2 bd-highlight" style="width: 100vw;min-height: 90vh; margin-top: 30px;  background-repeat: no-repeat;">
    <router-outlet></router-outlet>
  </div>
  <div class="mt-auto p-2 bd-highlight" style="background-color: #da80dd; width: 100vw;">
    this footer should always stick to the bottom of the page
  </div>
</div>
