#bottom-div {
    background-color: #c6538c;
}

router-outlet {
    height: 100%;
}

.fixVertical {
    flex: 1 1 100%;
    min-height: 100vh;
}

.yellow {
    background-color: yellow
}

#footer-div {
    background-color: beige;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
