
<div class="d-flex align-items-end flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight" style="background-color: transparent; width: 100vw;">
    <app-header [deviceXs]="deviceXs"></app-header>
  </div>
  <div class="p-2 bd-highlight" style="width: 100vw;min-height: 50vh; margin-top: 30px;  background-repeat: no-repeat;">
    <router-outlet></router-outlet>
  </div>
  <div class="mt-auto p-2 bd-highlight" style="background-color: #16421b; width: 100vw;">
    <ng-marquee>
      <mark>Let's play</mark>
    </ng-marquee>
  </div>
</div>
