<!-- <div style="text-align: center; color: white; font-size: 30px; font-weight: bold;"><marquee behavior="slide" direction="" class="pt-2">Welcome</marquee></div> -->
<div  [ngStyle]="{'background-color': bgColor}" style="height: 100vh; ">
  <div [ngClass]="projectData.colorScheme" id="outer-div"  class="scroll">

  <div class="d-flex flex-row bd-highlight mb-3  " id="bg">
    <div class="p-2 background body  bd-highlight" id="background" >
      <div fxLayout="row" fxLayoutAlign="" >
        <div id="table-1" fxFlex="35" class="  mt-2" >
            <table class="table" id="triple-table" style="border: 5px solid lightgoldenrodyellow;">
              <thead class="mt-5 triple-table-thead">
              <tr>
                <th class="pink" *ngFor="let single of singleNumbers; let i = index">

                  <button mat-fab matBadge="*" [matBadgeHidden]="activeTripleContainerValue!=i"  class="triple-selection-button-{{i}} tripple-selection-button" (click)="setActiveTripleContainerValue(i)" style="border-radius: 2px !important;">
                    <span>{{single.singleNumber}}</span>
                  </button>
                </th>
              </tr>
              <div style="background-image: url('/assets/images/btn-1.png');">

              </div>
              <tr *ngIf="singleNumbers.length && activeTripleContainerValue > -1">
                <th colspan="10" class="text-center">
                  <button mat-fab  class="tripple-button coder-fab" >
                    <span>{{singleNumbers[activeTripleContainerValue].singleNumber}}</span>
                  </button>

              </tr>
              </thead>
              <tbody  id="triple-body-{{idxSingle}}" class="table-div-{{idxSingle}}" *ngFor="let tableData of numberCombinationMatrix; let idxSingle = index">
              <ng-container *ngIf="isActiveTripleContainter(idxSingle)">
                <tr *ngFor="let row of tableData.numberCombinations.slice(0, tableData.numberCombinations.length % columnNumber  === 0 ? tableData.numberCombinations.length / columnNumber : tableData.numberCombinations.length / columnNumber + 1); let idx = index">
                  <td colspan="2" *ngFor="let x of tableData.numberCombinations.slice(idx * columnNumber, idx * columnNumber + columnNumber)" class="text-center align-middle" style="max-width: 100% !important;">


                    <button mat-raised-button matBadge="{{x.quantity}}" class="triple-number-button" [matBadgeHidden]="false" value="bold" (click)="setGameInputSet(x,idxSingle,2)" name="fontStyle" aria-label="Font Style" style="font-size: larger; min-width: 97% !important; padding: 0px !important; min-height: 40px;">
                      {{ x.visibleTripleNumber }}

                    </button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
            <!-- <div class=" d-flex" style="height: 50px; border-radius: 10px; padding-top: 20px;padding-left: 50px;" *ngFor="let x of games"> -->
            <div class="" style="height: 50px; border-radius: 10px; padding-top: 20px;padding-left: 0px;">
<!--              <div class="">-->
<!--                <select class="btn btn-primary" id="1" name="1" (change)="changeColor()" style="border: 5px solid red;">-->
<!--                    <option value="{{x.id}}" *ngFor="let x of games" style="font-size: large;">{{x.game_name}}</option>-->
<!--                </select>-->
<!--              </div>-->

              <!-- <mat-form-field  appearance="fill">
                <mat-label>Game</mat-label>
                <mat-select class="btn btn-warning" [(ngModel)]="selectedGame" name="food">
                  <mat-option *ngFor="let x of games" [value]="x.id">
                    {{x.game_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <div class=" d-flex mt-2" style="height: 40px; border-radius: 10px;text-align: center; padding-right: 100px;">
                <button (click)="resultButton(1)" style="font-size: 100%; width: 50%;text-align: center; border: 8px solid rgb(255, 255, 255);height: 145%;border-style: double;" class="btn btn-lg  btn-responsive btn-primary" (click)="setActiveGame(games[0])">{{games[0].game_name}}</button>
                <button (click)="resultButton(2)" style="font-size: 100%;  width: 50%;  border: 8px solid rgb(253, 253, 253);height: 145%; border-style: double;" class="btn btn-success ml-1 btn-responsive" (click)="setActiveGame(games[1])">{{games[1].game_name}}</button>
              </div>
              <div class=" d-flex" style="height: 60px; border-radius: 10px;padding-top: 20px; padding-right: 100px;">
                <button [disabled]="games[2].active === 'no'" (click)="resultButton(3)" style="font-size: 100%;   width: 50%;height: 170%;  border: 8px solid rgb(255, 255, 255); border-style: double;" class="btn btn-danger ml-1 btn-responsive" (click)="setActiveGame(games[2])">{{games[2].game_name}}</button>
                <button [disabled]="games[3].active === 'no'" (click)="resultButton(4)" class="btn btn-info ml-1 btn-responsive" id="print-button" style="font-size: 100%;   width: 50%;height: 170%;  border: 8px solid rgb(255, 255, 255); border-style: double;" (click)="setActiveGame(games[3])"
                        >{{games[3].game_name}}</button>
              </div>

            </div>





        </div>

        <div fxFlex="30">
          <div class="text-center" style="">
            <div style="padding-top: px;text-align: center; background-repeat: no-repeat;min-height: 100px; ">
                <ngx-wheel
                #wheel
                width='250'
                height='250'
                spinDuration='8'
                [disableSpinOnClick]='true'
                [items]='items'
                [innerRadius]='20'
                [spinAmount]='10'
                [textOrientation]='textOrientation'
                [textAlignment]='textAlignment'
                pointerStrokeColor='black'
                pointerFillColor='#DC143C'
                [idToLandOn]='idToLandOn'
                (onSpinStart)='before()'
                (onSpinComplete)='after()'
                style="padding-left: 40px; padding-top: 10px; text-align: center;"

              >

            </ngx-wheel>

            <!-- <div class="bd-highlight current-result">{{result.visible_triple_number || '***'}}</div> -->
            <div class="d-flex">
              <div class="col-5"></div>
              <div class="col-2 mt-3" style="color: white;font-size: larger; height: 63px !important; background-size: cover;"><span *ngIf="todayLastResult && todayLastResult.data!=null">
                <h1>{{todayLastResult.data.visible_triple_number}}</h1>
              </span></div>
              <div class="col-5"></div>
            </div>


              <div style="padding-top: 10px; padding-right: 25px;">
                <div class="d-flex">
                  <div class="col-5"></div>
                  <div class="col-2" style="color: white; font-weight: bold; margin-left: 11px;">SINGLES</div>
                  <div class="col-6"></div>
                </div>
                <div style="padding-left: 15px;">
                  <div class="d-flex justify-content-between" style="background-color: rgb(255, 230, 0);height: 43px; border: 5px solid rgb(247, 38, 84); border-style: double; width: 105%; color: white;margin: 10px; " >
                    <button matBadge="{{single.quantity}}"  style="color: rgb(28, 12, 90); font-weight: bold; "
                            *ngFor="let single of singleNumbers; let i=index" (click)="setGameInputSet(single,1,1)"
                            class="single-number-button-{{i}}" type="button">{{ single.singleNumber }}</button>
                  </div>
                </div>

                <div class="d-flex" style="background-image: url('assets/images/number-background.png'); background-repeat: no-repeat;background-size: cover; padding-bottom: 20px;  width: 435px;
                margin-left: 4px;padding-right: 20px;">
                  <div class="chips-outer-div " style="padding-top: 8%; padding-left: 15%;">
                    <input *ngFor="let x of chips; let i= index" class="chips-button-{{i}}" [ngClass]="(selectedChip==x)?'selectedChipStyle':''" mat-fab value="bold" type="button" value="" (click)="changeChip(x)">
                  </div>
                </div>
              </div>
              <div style="background-image: url('/assets/images/place.png'); background-size: cover;height: 90px;"></div>

            </div>


          </div>
        </div>

        <div fxFlex="35" class=" ml-2 mt-2" style=" color: white; font-weight: bold; ">
          <!-- <pre>{{currentResultList | json}}</pre> -->
          <div class="container right-container" >
            <table class="" >
              <thead >
                <tr >
                  <th colspan="4">
                    <!-- <div>{{currentDate}}&nbsp;
                    </div> -->
                    <!-- <div>GAME1 RESULT SHEET</div> -->
                  </th>
                  <th colspan="4" style="padding-left: 100px;">
                    <div style="text-align: end; color: white;">RESULT SHEET</div>
                  </th>
                </tr>
              </thead>
            </table>


            <div class="scroll" style=" max-height: 330px !important; overflow: scroll;">
              <table class="table " id="result-table" style="margin-bottom: 48px; border-radius: 10px; background-image: url('/assets/images/resultBackgroung.jpg');background-size: cover; font-size: 20px;">

                <tbody>
                    <ng-container *ngIf="currentResultList" >



                      <tr *ngFor="let x of currentResultList">
                        <!-- <pre>{{x | json}}</pre> -->
                        <td  class="text-center align-middle" *ngFor="let row of x.slice(0, x.length % columnNumber2  === 0 ? x.length / columnNumber2 : x.length / columnNumber2 + 1); let idx = index">
                          <div scope="row" class="current-result" colspan="2" *ngFor="let result of x.slice(idx * columnNumber2, idx * columnNumber2 + columnNumber2)">
                            <div class=" result-heading current-result">{{result.end_time.slice(0,5)}}</div>
                            <div class="bd-highlight current-result">{{result.visible_triple_number || '***'}}</div>
                            <div class="bd-highlight current-result">
                              <span *ngIf="result.single_number!=null"></span>{{result.single_number}}
                              <span *ngIf="result.single_number==null"><img src="assets/images/singleStar3.gif" height="20px" alt=""></span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </ng-container>
                </tbody>
              </table>
            </div>


            <div class=" d-flex mt-2" style="height: 40px; border-radius: 10px;text-align: center; padding-left: 100px;">
              <button style="font-size: 100%; width: 50%;text-align: center; border: 8px solid rgb(255, 255, 255);height: 145%;border-style: double;" class="btn btn-lg  btn-responsive btn-primary">INFO</button>
              <button (click)="resetMatrixValue()" style="font-size: 100%;  width: 50%;  border: 8px solid rgb(253, 253, 253);height: 145%; border-style: double;" class="btn btn-success ml-1 btn-responsive">CLEAR</button>
            </div>
            <div class=" d-flex" style="height: 60px; border-radius: 10px;padding-top: 20px; padding-left: 97px;">
              <button style="font-size: 100%;   width: 50%;height: 145%;  border: 8px solid rgb(255, 255, 255); border-style: double;" class="btn btn-danger ml-1 btn-responsive" [routerLink]="['/terminalReport']">REPORT</button>
              <button class="btn btn-info ml-1 btn-responsive" id="print-button" style="font-size: 100%;   width: 50%;height: 145%;  border: 8px solid rgb(255, 255, 255); border-style: double;"
                      [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 3px'}}" printSectionId="print-section" ngxPrint>PRINT</button>
            </div>

            <div class=" d-flex" style="height: 50px; border-radius: 10px; padding-top: 20px;padding-left: 151px;">

            </div>


            <div class=" d-flex" style="height: 60px; border-radius: 10px;padding-top: 20px; padding-left: 18px;">
              <div class="col-1"></div>
              <div class="col-2" style="margin-bottom: 20px; margin-left: 45px;" >
                <div class="left-div" style="padding-top: 15px;" >
                 <span class="d-flex" style="padding-left: px; color: black;" ><img src="assets/images/play.png" height="70px" alt=""> <h4 style="font-weight: bolder; font-size: large; padding-top: 15px; padding-left: 20px;">{{totalTicketPurchased}}</h4></span>
                </div>
              </div>
              <div class="col-3"></div>
<!--             <button (click)="saveUserPlayInputDetails()" [disabled]="value<0" style="font-size: 100%; width: 50%;height: 145%;  border: 8px solid rgb(255, 255, 255); border-style: double;" class="btn btn-warning ml-4 btn-responsive col-4">BUY</button>-->
               <button (click)="saveUserPlayInputDetails()" style="font-size: 100%; width: 50%;height: 145%;  border: 8px solid rgb(255, 255, 255); border-style: double;" class="btn btn-warning ml-4 btn-responsive col-4">BUY</button>
            </div>


          </div>

        </div>

      </div>
      <div><marquee behavior="" direction="" style="color: white; font-size: 50px; font-weight: bold;">Welcome</marquee></div>



    </div>
  </div>


  </div>
</div>


<div id="print-section" directPrint="true" style="border: 2px solid black; margin-left: 0; display: none" *ngIf="lastPurchasedTicketDetails">
  Kfatafat
  <div>
    <div >Terminal: {{lastPurchasedTicketDetails.data.play_master.terminal.terminalId}}</div>
    <div >Ticket ID: {{lastPurchasedTicketDetails.data.play_master.barcodeNumber}}</div>
    <div >Draw time: {{lastPurchasedTicketDetails.data.play_master.drawTime.visibleTime}}</div>
    <div >Ticket time: {{lastPurchasedTicketDetails.data.play_master.ticketTakenTime}}</div>
    <div >Total point: {{lastPurchasedTicketDetails.data.amount}}</div>
  </div>
  <div>
    <div style="font-weight: bold;" *ngIf="lastPurchasedTicketSingle.length">Single</div>
      <table>
        <tbody>
          <tr *ngFor="let single of lastPurchasedTicketSingle.
          slice(0, lastPurchasedTicketSingle.length % 5  === 0 ?
           lastPurchasedTicketSingle.length / 5 :
            lastPurchasedTicketSingle.length / 5 + 1); let idx = index">
            <td *ngFor="let x of lastPurchasedTicketSingle.slice(idx * 5, idx * 5 + 5)" style="white-space: nowrap">
              {{x.singleNumber}}-{{x.quantity}},
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  <div>
    <div style="font-weight: bold;" *ngIf="lastPurchasedTicketTriple.length">Triple</div>
    <table>
      <tbody>
        <tr *ngFor="let triple of lastPurchasedTicketTriple.
        slice(0, lastPurchasedTicketTriple.length % 5  === 0 ?
         lastPurchasedTicketTriple.length / 5 :
          lastPurchasedTicketTriple.length / 5 + 1); let idx = index">
          <td *ngFor="let x of lastPurchasedTicketTriple.slice(idx * 5, idx * 5 + 5)" style="white-space: nowrap">
            {{x.visibleTripleNumber}} - {{x.quantity}},
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>


<!--<button (click)="printDiv()">Print div</button>-->
<!--end testing print-->



<!-- <button id="print-button" [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 3px'}}" printSectionId="print-section" ngxPrint>print</button> -->

<div class="d-flex mt-5" *ngIf="!isProduction">
  <div class="col-3">
    <mat-slide-toggle (change)="showDevArea=!showDevArea">{{showDevArea?"Hide Developer Area":"Show Developer Area"}}</mat-slide-toggle>
  </div>
</div>

<div class="d-flex" *ngIf="!isProduction && showDevArea">
  <div class="col-6">
    <button id="print-button" [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 3px'}}" printSectionId="print-section" ngxPrint>print</button>
      <pre>
        <!-- singleNumbers = {{singleNumbers | json}} -->
        todayLastResult = {{todayLastResult | json}}
      </pre>
  </div>
  <div class="col-3">
      <pre>
        <!-- activeDrawTime = {{activeDrawTime | json}} -->
      </pre>
  </div>
  <!-- <div class="col-3"><pre>userGameInput = {{userGameInput | json}}</pre>

  </div> -->
</div>




