
<div [ngClass]="projectData.colorScheme" id="outer-div" >

  <div class="d-flex flex-row bd-highlight mb-3  " id="bg">
    <div class="p-2 background body  bd-highlight" id="background" >
      <div fxLayout="row" fxLayoutAlign="space-around center" >
        <div id="table-1" fxFlex="35" class=" ml-2 mt-2" style="border: 2px solid rgb(0, 26, 255); ">
          <div>
            <table class="table table-responsive" id="triple-table">
              <thead class="mt-5 triple-table-thead">
              <tr>
                <th class="pink" *ngFor="let single of singleNumbers; let i = index">

                  <button mat-fab matBadge="*" [matBadgeHidden]="activeTripleContainerValue!=i"  class="triple-selection-button-{{i}} tripple-selection-button" (click)="setActiveTripleContainerValue(i)">
                    <span>{{single.singleNumber}}</span>
                  </button>
                </th>
              </tr>
              <!--              activeTripleContainerValue is the index value of singleNumbers array-->
              <tr *ngIf="singleNumbers.length && activeTripleContainerValue > -1">
                <th colspan="10" class="text-center">
                  <button mat-fab  class="tripple-selection-button coder-fab">
                    <span>{{singleNumbers[activeTripleContainerValue].singleNumber}}</span>
                  </button>
              </tr>
              </thead>
              <tbody  id="triple-body-{{idxSingle}}" class="table-div-{{idxSingle}}" *ngFor="let tableData of numberCombinationMatrix; let idxSingle = index">
              <ng-container *ngIf="isActiveTripleContainter(idxSingle)">
                <tr *ngFor="let row of tableData.numberCombinations.slice(0, tableData.numberCombinations.length % columnNumber  === 0 ? tableData.numberCombinations.length / columnNumber : tableData.numberCombinations.length / columnNumber + 1); let idx = index">
                  <td colspan="2" *ngFor="let x of tableData.numberCombinations.slice(idx * columnNumber, idx * columnNumber + columnNumber)" class="text-center align-middle">
                    <!--                    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">-->
                    <!--                      <mat-button-toggle mat-raised-button matBadge="7" [matBadgeHidden]="false"  class="triple-number-button" value="bold" (click)="setGameInputSet(x)">{{ x.visibleTripleNumber }}</mat-button-toggle>-->
                    <!--                    </mat-button-toggle-group>-->
                    <button mat-raised-button matBadge="{{x.quantity}}" class="triple-number-button" [matBadgeHidden]="false" value="bold" (click)="setGameInputSet(x,idxSingle,2)" name="fontStyle" aria-label="Font Style">
                      {{ x.visibleTripleNumber }}
                    </button>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </table>
          </div>
        </div>
        <div fxFlex="30">
          <div style="padding-left: 20px;">
            <img src="assets/images/wheel.gif" height="200px" style="padding-left: 20px;" alt="" >
          </div>
        </div>
        <div fxFlex="35" class=" ml-2 mt-2" style="border: 2px solid gold; color: white; font-weight: bold; ">
          <div>{{currentDate}}&nbsp;
          </div>
          <div>GAME1 RESULT SHEET</div>
          <div style="text-align: end; color: white;">RESULT SHEET</div>
          <div class="container right-container" >

            <table class="table table-responsive" id="triple-table">

              <tbody>

              <tr >
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
              </tr>

              <tr >
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5

                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
              </tr>
              <tr >
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
                <td colspan="2"  class="right-td">
                  10:00 AM
                </td>
              </tr>

              <tr >
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
                <td colspan="2"  class="right-td1">
                  555 <br>
                  5
                </td>
              </tr>

              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="d-flex">
        <div class="col-4 ml-2 mt-2" >
          <div class="left-div ml-2">
            play :
          </div>
        </div>
        <div class="col-4">
          <span class="text-white text-center">SINGLES</span>
          <div class="d-flex justify-content-between" style="background-color: rgb(223, 214, 177);height: 50px; border: 3px solid black;">
            <div class="chips-outer-div" *ngFor="let single of singleNumbers">
              <button matBadge="{{single.quantity}}" class="p-2"  style="border-radius: 20%;" (click)="setGameInputSet(single,1,1)">{{ single.singleNumber }}</button>
            </div>
          </div>


          <div class="d-flex justify-content-between" style="background-color: rgb(223, 214, 177);height: 50px; border-radius: 10px; border: 3px solid rgb(65, 255, 255);">
            <div class="chips-outer-div " *ngFor="let x of chips">
              <button class="coder-fab m-2" mat-fab value="bold" (click)="changeChip(x)">{{ x }}</button>
            </div>
          </div>

        </div>
        <div class="col-4 ml-2 d-flex" style="height: 40px; border-radius: 10px;">
          <button style="font-size: 65%; width: 20%;" class="btn btn-info  btn-responsive">INFO</button>
          <button (click)="resetMatrixValue()" style="font-size: 65%; width: 20%;" class="btn btn-info ml-1 btn-responsive">CLEAR</button>
          <button style="font-size: 65%; width: 20%;" class="btn btn-info ml-1 btn-responsive">REPEAT</button>
          <button style="font-size: 65%; width: 20%;" class="btn btn-info ml-1 btn-responsive">DOUBLE</button>
          <button (click)="saveUserPlayInputDetails()" style="font-size: 65%; width: 20%;" class="btn btn-info ml-1 btn-responsive">BUY</button>
        </div>
      </div>

      <!-- <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/terminal.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Terminal</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> -->
    </div>
  </div>


</div>



<div id="print-section" directPrint="true" style="border: 2px solid black; margin-left: 0; display: none" *ngIf="lastPurchasedTicketDetails">
  Kfatafat
  <div>
    <div >Terminal: {{lastPurchasedTicketDetails.data.play_master.terminal.terminalId}}</div>
    <div >Ticket ID: {{lastPurchasedTicketDetails.data.play_master.barcodeNumber}}</div>
    <div >Draw time: {{lastPurchasedTicketDetails.data.play_master.drawTime.visibleTime}}</div>
    <div >Ticket time: {{lastPurchasedTicketDetails.data.play_master.ticketTakenTime}}</div>
    <div >Total point: {{lastPurchasedTicketDetails.data.amount}}</div>
  </div>
  <div>
    <div style="font-weight: bold;" *ngIf="lastPurchasedTicketSingle.length">Single</div>
      <table>
        <tbody>
          <tr *ngFor="let single of lastPurchasedTicketSingle.
          slice(0, lastPurchasedTicketSingle.length % 5  === 0 ?
           lastPurchasedTicketSingle.length / 5 :
            lastPurchasedTicketSingle.length / 5 + 1); let idx = index">
            <td *ngFor="let x of lastPurchasedTicketSingle.slice(idx * 5, idx * 5 + 5)" style="white-space: nowrap">
              {{x.singleNumber}}-{{x.quantity}},
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  <div>
    <div style="font-weight: bold;" *ngIf="lastPurchasedTicketTriple.length">Triple</div>
    <table>
      <tbody>
        <tr *ngFor="let triple of lastPurchasedTicketTriple.
        slice(0, lastPurchasedTicketTriple.length % 5  === 0 ?
         lastPurchasedTicketTriple.length / 5 :
          lastPurchasedTicketTriple.length / 5 + 1); let idx = index">
          <td *ngFor="let x of lastPurchasedTicketTriple.slice(idx * 5, idx * 5 + 5)" style="white-space: nowrap">
            {{x.visibleTripleNumber}} - {{x.quantity}},
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>


<!--<button (click)="printDiv()">Print div</button>-->
<!--end testing print-->



<button id="print-button" [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 3px'}}" printSectionId="print-section" ngxPrint>print</button>

<div class="d-flex" *ngIf="!isProduction">
  <div class="col-3">
    <mat-slide-toggle (change)="showDevArea=!showDevArea">{{showDevArea?"Hide Developer Area":"Show Developer Area"}}</mat-slide-toggle>
  </div>
</div>

<div class="d-flex" *ngIf="!isProduction && showDevArea">
  <div class="col-6">
      <pre>
        singleNumbers = {{singleNumbers | json}}
      </pre>
  </div>
  <div class="col-3">
      <pre>
        activeDrawTime = {{activeDrawTime | json}}
      </pre>
  </div>
  <div class="col-3"><pre>userGameInput = {{userGameInput | json}}</pre>
  </div>
</div>




