<mat-tab-group>
  <mat-tab label="Create stockist">
<!--    first tab-->

    <div class="d-flex flex-row mt-2">
      <div class="col-4">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>New Stockist Form</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <div fxFlex="100">
                <form [formGroup]="stockistMasterForm">
                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <mat-form-field fxFlex="100">
                      <mat-label>Stockist Name</mat-label>
                      <input type="text" matInput formControlName="userName" placeholder="Enter name">

                      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!stockistMasterForm.get('userName').valid && stockistMasterForm.get('userName').touched">
                        <mat-error *ngIf="stockistMasterForm.get('userName').errors['required']">This field is Required</mat-error>
                        <mat-error *ngIf="stockistMasterForm.get('userName').errors['minlength']">Minimum length of name is {{stockistMasterForm.get('userName').errors.minlength.requiredLength}}</mat-error>
                      </div>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <button class="pull-right" mat-raised-button color="primary"mat-stroked-button (click)="createNewStockist()" [disabled]="!stockistMasterForm.valid">Create</button>
              <button class="pull-right" mat-raised-button color="warn" mat-stroked-button (click)="clearMasterStockistForm()">clear</button>
            </div>


          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-8" style="background-color: #6c757d5e">

        <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-sm" style="border: none !important;">
          <thead>
            <tr>
              <th scope="colgroup" colspan="4" class="text-center">Stockist List</th>
            </tr>
            <tr>
              <th >Id</th>
              <th mat-sort-header="userName">Stockist name</th>
              <th mat-sort-header="pin">Pin</th>
              <th mat-sort-header="balance">Balance</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let stockist of sortedStockistList;let indexOfElement=index">
            <td>{{(indexOfElement+1)}}</td>
            <td>{{stockist.userName}}</td>
            <td>{{stockist.pin}}</td>
            <td>{{stockist.balance}}</td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>

  </mat-tab>

<!--second tab-->
  <mat-tab label="Stockist list"></mat-tab>
</mat-tab-group>



<div class="d-flex" *ngIf="!isProduction">
  <div class="col-3">
    <mat-slide-toggle (change)="showDevArea=!showDevArea">{{showDevArea?"Hide Developer Area":"Show Developer Area"}}</mat-slide-toggle>
  </div>
</div>

<div class="d-flex" *ngIf="!isProduction && showDevArea">
  <div class="col-6">
    <pre>
        stockistMasterForm = {{stockistMasterForm.value | json}}
        stockists = {{stockists | json}}
      </pre>
  </div>
  <div class="col-3"></div>
  <div class="col-3"></div>
</div>
