<mat-tab-group>
  <mat-tab label="Create stockist">
<!--    first tab-->

    <div class="d-flex flex-row mt-2">
      <div class="col-4">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>New Stockist Form</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <div fxFlex="100">
                <form [formGroup]="stockistMasterForm">
                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <mat-form-field fxFlex="100">
                      <mat-label>Stockist Name</mat-label>
                      <input type="text" matInput formControlName="userName" placeholder="Enter name">

                      <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!stockistMasterForm.get('userName').valid && stockistMasterForm.get('userName').touched">
                        <mat-error *ngIf="stockistMasterForm.get('userName').errors['required']">This field is Required</mat-error>
                        <mat-error *ngIf="stockistMasterForm.get('userName').errors['minlength']">Minimum length of name is {{stockistMasterForm.get('userName').errors.minlength.requiredLength}}</mat-error>
                      </div>
                    </mat-form-field>
                  </div>
                </form>
              </div>
            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <button class="pull-right" mat-raised-button color="primary"mat-stroked-button (click)="createNewStockist()" [disabled]="!stockistMasterForm.valid || isStockistUpdatAble">Create</button>
              <button class="pull-right" mat-raised-button color="primary"mat-stroked-button (click)="upateStockist()" [disabled]="!isStockistUpdatAble">Update</button>
              <button class="pull-right" mat-raised-button color="warn" mat-stroked-button (click)="clearMasterStockistForm()">clear</button>
            </div>


          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-8" style="background-color: #6c757d5e">

        <table matSort (matSortChange)="sortData($event)" class="table table-bordered table-sm" style="border: none !important;">
          <thead>
            <tr>
              <th scope="colgroup" colspan="5" class="text-center">Stockist List</th>
            </tr>
            <tr>
              <th >Id</th>
              <th mat-sort-header="userName">Stockist name</th>
              <th mat-sort-header="pin">Pin</th>
              <th mat-sort-header="balance">Balance</th>
              <th mat-sort-header="edit">Edit</th>
            </tr>
          </thead>
          <tbody>
          <tr [ngStyle]="getBackgroundColor(indexOfElement)" *ngFor="let stockist of sortedStockistList;let indexOfElement=index">
            <td>{{(indexOfElement+1)}}</td>
            <td>{{stockist.userName}}</td>
            <td>{{stockist.pin}}</td>
            <td>{{stockist.balance}}</td>
            <td><i class="bi bi-pencil-square" (click)="editStockist(stockist)"></i></td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>

  </mat-tab>

<!--second tab-->
  <mat-tab label="Stockist limit">
    <div class="d-flex flex-row mt-2">
      <div class="col-2"></div>
      <div class="col-8">
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Recharge Stockist</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <div fxFlex="25">
                <form [formGroup]="stockistLimitForm">
                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <mat-form-field fxFlex="100">
                      <mat-label>Stockist</mat-label>
                      <mat-select (selectionChange)="onStockistSelect($event)" formControlName="beneficiaryUid">
                        <mat-option *ngFor="let stockist of sortedStockistList" [value]="stockist.userId">
                          {{stockist.pin}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="legacy" *ngIf="selectedStockist">
                      <mat-label>Name</mat-label>
                      <input type="text" matInput readonly  placeholder="Stockist" [value]="selectedStockist.userName">
                      <mat-icon matSuffix>person_pin</mat-icon>
                    </mat-form-field>


                    <mat-form-field appearance="legacy" *ngIf="selectedStockist">
                      <mat-label>Current balance</mat-label>
                      <input type="text" readonly matInput [value]="selectedStockist.balance"  placeholder="Current balance">
                      <mat-icon matSuffix>account_balance_wallet</mat-icon>
                    </mat-form-field>
                  </div>

                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <mat-form-field class="d-flex" fxFlex="100">
                      <mat-label>Recharge amount</mat-label>
                      <input type="text" matInput formControlName="amount"  placeholder="Enter amount">
                      <mat-icon matSuffix> money</mat-icon>
                    </mat-form-field>
                  </div>

                  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                    <button class="pull-right" mat-raised-button color="warn" mat-stroked-button [disabled]="!stockistLimitForm.valid" (click)="rechargeToStockist()">Save</button>
                  </div>
                </form>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-2"></div>
    </div>
  </mat-tab>
</mat-tab-group>



<div class="d-flex" *ngIf="!isProduction">
  <div class="col-3">
    <mat-slide-toggle (change)="showDevArea=!showDevArea">{{showDevArea?"Hide Developer Area":"Show Developer Area"}}</mat-slide-toggle>
  </div>
</div>

<div class="d-flex" *ngIf="!isProduction && showDevArea">
  <div class="col-6">
    <pre>
        stockistMasterForm = {{stockistMasterForm.value | json}}
        stockists = {{stockists | json}}
      </pre>
  </div>
  <div class="col-3"><pre>stockistLimitForm = {{stockistLimitForm.value | json}}</pre></div>
  <div class="col-3"></div>
</div>
